<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if meta.description}}
    {{> element/meta name='description' content=meta.description}}
    {{/if}}
    {{#if meta.keywords}}
    {{> element/meta name='keywords' content=meta.keywords}}
    {{/if}}
    {{#if meta.apple-mobile-web-app-title}}
    {{> element/meta name='apple-mobile-web-app-title' content=meta.apple-mobile-web-app-title}}
    {{/if}}
    {{#if twitter.card}}
    {{> element/meta name='twitter:card' content=twitter.card}}
    {{/if}}
    {{#if twitter.url}}
    {{> element/meta name='twitter:url' content=twitter.url}}
    {{/if}}
    {{#if twitter.title}}
    {{> element/meta name='twitter:title' content=twitter.title}}
    {{/if}}
    {{#if twitter.description}}
    {{> element/meta name='twitter:description' content=twitter.description}}
    {{/if}}
    {{#if twitter.image}}
    <meta name="twitter:image" content="{{cdn}}assets/image/{{twitter.image}}">
    {{/if}}
    {{#if og.title}}
    {{> element/meta property='og:title' content=og.title}}
    {{/if}}
    {{#if og.type}}
    {{> element/meta property='og:type' content=og.type}}
    {{/if}}
    {{#if og.url}}
    {{> element/meta property='og:url' content=og.url}}
    {{/if}}
    {{#if og.image}}
    <meta property="og:image" content="{{cdn}}assets/image/{{og.image}}">
    {{/if}}
    {{#if og.site_name}}
    {{> element/meta property='og:site_name' content=og.site_name}}
    {{/if}}
    {{#if og.description}}
    {{> element/meta property='og:description' content=og.description}}
    {{/if}}
    {{#if og.locale}}
    {{> element/meta property='og:locale' content=og.locale}}
    {{/if}}
    {{#if fb.admins}}
    {{> element/meta property='fb:admins' content=fb:admins}}
    {{/if}}
    {{#if fb.app_id}}
    {{> element/meta property='fb:app_id' content=fb:app_id}}
    {{/if}}
    {{#if link.favicon}}
    <link rel="icon" type="image/x-icon" href="{{cdn}}assets/image/{{link.favicon}}">
    {{/if}}
    {{#if link.apple-touch-icon-precomposed}}
    <link rel="apple-touch-icon-precomposed" href="{{cdn}}assets/image/{{link.apple-touch-icon-precomposed}}">
    {{/if}}
    {{#if link.author}}
    <link rel="author" href="{{link.author}}">
    {{/if}}
    {{#if styles.global}}
    <link rel="stylesheet" type="text/css" media="all" href="{{cdn}}{{styles.global}}">
    {{/if}}
    {{#if styles.section}}
    <link rel="stylesheet" type="text/css" media="all" href="{{cdn}}{{styles.section}}">
    {{/if}}
</head>
