<label
    {{#if this.for}}
    for="{{this.for}}"
    {{/if}}
    {{#if this.id}}
    id="{{this.id}}"
    {{/if}}
    {{#if this.class}}
    class="{{this.class}}"
    {{/if}}
    {{#if this.accessible-title}}
    aria-label="{{this.accessible-title}}"
    {{/if}}
>{{this.title}}</label>